body, html {
    padding: 0;
    margin: 0;
}

.turks {
    width: 20%;
    height: auto;
    margin-top:10%;
}

.header-container {
    position: relative;
}

.logo {
    width: 70px; 
    min-width: 70px;
    z-index: 2;
    position: absolute;
    margin-top: 10px;
    margin-left: 2px;
    padding: 3px;
}

.header {
    font-size: 70px;
    z-index: 1;
}


.turkicKhaganate {
    position: absolute;
    z-index: 2;
    top: 40%;
    border: 1.5px solid black;
    font-size: 20px;
    max-width: 75%px;
    background-color: rgba(184, 222, 255, 0.599);
    margin-left: 3%;
    margin-right: 3%;
    
}

.title {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 35px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-top: 1px solid rgba(81, 81, 81, 0.392);
    border-bottom: 1px solid rgba(81, 81, 81, 0.392);
    
}

.article {
    text-align: left;
    padding-left: 11px;
    padding-bottom: 11px;
    
}

.question {
    text-align: left;
    font-size: 23px;
    padding-left: 20px;

}
.quote {
    font-weight: bolder;
}
.q3 {
    margin-top: -10px;
}
